body{
    background-color: dimgrey;
    font-size: 20px;
    font-style: arial;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}


.container-cabecalho{   
    background-color: black;
    height: 125px;
    display: flex;
    justify-content: center;
    justify-content: left;
}

.cabecalho{
    color: rgb(130, 126, 126);
    text-align: center;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 50px;
}

.botoes{
    margin-left:auto;
    height:20px;
    justify-content: right;
    margin: 0;


}

.quiztime{ 
    margin: 150px;
    
}










/* NÃO MEXE AQUI */


.slide{ /*  */  /* Se for mexer no style, mee onde quiser, menos aqui, pelo amor  */
    display: flex;
    height: 500px auto;
}
.hidden{    /* Nem aqui */
    display: none;
    
}

.cont-slides{
    display: flex;
    justify-content: middle;
    margin: 5%;

}

/* NÃO MEXE AQUI */










.questao-cont{
    background-color: rgb(22, 22, 22);
    color: white;
}
.questao-titul{
    font-style: arial;
    font-size: 50px;
}
.questao-cont input{
    width: 500px;
}
.alternativas{
    align-items: left;
}

.botão-resposta{
    height:20px;
    margin-left: 25px;
    width: 25px;
    border-radius: 100px;
}
